body{
    background-color: rgb(255, 255, 255);
    z-index: 110;
}

.chat-menu{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
}

.chat-top{
    background-color: rgba(255, 255, 255, 0.434);
    margin:12px 0px;
    border-radius: 12px;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.chats{
    width: 30%;
    border-right: 1px solid rgba(128, 128, 128, 0.3);
    max-height: 100%;
    min-height: 100vh;
}

.chat-display{
    width: 70%;
    background-color: antiquewhite;
    height: 100%;
}

.chat-search{
    width: 95%;
    background-color: white;
    border-radius: 12px;
    height: 50px;
    margin-bottom: 8px;
}

.chatmenu-form-control, .search-form{
    width: 100%;
    border: none !important;
}

.chatmenu-form-control:focus{
    outline: none !important ;
    border: none !important;
}

.search-form:focus{
    outline: none !important ;
    border: none !important;
}

.all-chats{
    background-color:antiquewhite;
    width: 100%;
}

@media screen and (max-width:600px) {
    .chats{
        width: 100% !important;
        border: 0px ;
    }
}