.chat-item{
    width: 95%;
    transition: .4s ease;
}

.chat-item:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255, .6);
    transition: .4s ease;
}

.chat-profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.chat-name{
    font-size: 2.5vh;
    font-weight: 450;
}
.chat-data, .chat-time{
    font-size: 2vh;
    font-weight: 300;
}

.chat-info{
    width: 100%;
}

.clicked{
    background-color: rgba(255, 255, 255, 0.5);
    transition: .4s ease;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    width: 100%;
}

.clicked:hover{
    transition: .4s ease;
}

@media screen and (max-width:600px) {
    .offcanvas{
        width: 100% !important;
        margin: 0% !important;
    }
    .mobile-chatbox{
        width: 100vw !important;
        margin: 0% !important;
    }

}