.chat-box{
    width: 70%;
    transition: .5s ease-in-out;
    background-color: rgb(255, 255, 255, 0.434);
}

.chatbox-header{
    background-color: antiquewhite;
    width: 98%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 100;
    margin-top: 12px;
}

.header-img img{
    height: 40px;
    width: fit-content;
    border-radius: 50%;
}

.header-search-icon, .mic-icon, .plus-icon, .smile-icon{
    font-size: 20px;
}

.header-profile-status{
    font-size: 1.6vh;
}
.header-profile-name{
    font-size: 2vh;
}

.chatbox-body{
    z-index: 90;
    height: 100%;
    width: 98%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    scroll-margin-bottom: 100%;
    background-color: #FFF6E9;
}

.chatbox-body::-webkit-scrollbar {
    display: none
}

.chatbox-footer{
    background-color: antiquewhite;
    width: 98%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 12px 0px;
    border-radius: 12px;
}

.chatbox-input{
    width: 100%;
}

.icon{
    transition: .5s ease-out;
}

.icon:hover{
    transition: .5s ease;
    color: #40c8fa;
}

/* chatfooter-------------------- */

.chatbox-footer{
    background-color: white;
}

.chatbox-input form {
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.chatbox-form-control{
    border: none !important;
    height: 45px;
}

chatbox-form-control:focus{
    outline: 0px !important;
    border: 0px !important;
}

.loading-msg{
    text-align: center;
}

.send-icon{
    /* background-color: #A1EEBD; */
    font-size: 20px;
}

@media screen and (max-width:600px) {
    .chat-box{
        width: 100% !important;
        height: 100% !important;
    }
    .chatbox-header{
        margin-top: 0%;
        width: 100%;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
    }
    .chatbox-body{
        width: 100%;
    }
    .chatbox-footer{
        width: 100%;
        margin-bottom: 0%;
        border-radius: 0%;
    }
    .header-img{
        margin: 8px !important;
    }
    .fa-arrow-left, .fa-ellipsis-vertical{
        font-size: 20px;
    }
    .header-ellipsis{
        padding-right: 16px !important;
    }
    .chatbox-body{
        padding: 0px 8px ;
    }
}