.empty-chat-img img{
    height: 200px;
    width: fit-content;
}

.btn-success{
    border-radius: 25px;
}

@media screen and (max-width:600px) {
    .chat-display{
        display: none !important;
    }
}